<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Enviar Parametros del Request HHTP GET - URL</title>
</head>
<body>
<h1>Enviar Parametros del Request HHTP GET - URL</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola Andrés')}">/params/string?texto=Hola Andrés</a></li>
<li><a th:href="@{/params/string(texto='Que tal Johnny')}">/params/string?texto=Que tal Johnny</a></li>
<li><a th:href="@{/params/mix-params(saludo='Cómo estás Andrés',numero=7)}">/params/mix-params?saludo=Cómo estás Ándres&amp;numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Cómo estás Andrés',numero=7)}">/params/mix-params-request?saludo=Cómo estás Ándres&amp;numero=7</a></li>
</ul>

<div th:text="${resultado}"></div>
</body>
</html>