<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<meta name="theme-color" content="#7952b3">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.container {
	max-width: 1100px;
}

.form-group-name {
	max-width: 200px;
}
</style>
</head>
<body class="bg-light">
<section th:replace="components/tiempo :: interceptor"></section>
	<div class="container">
		<main>
			<div class="py-3 text-center row">
				<div class="col">
					<h2 class="mb-3" th:text="${titulo}"></h2>
					<p class="lead">Ejemplo de componentes de formulario con Spring
						Framework, Thymeleaf y Bootstrap</p>
				</div>
			</div>
			<div class="py-3 text-center row">
				<div class="col">
					<img class="d-block mx-auto mb-4"
						th:src="@{/images/Spring_Framework_Logo_2018.png}"
						alt="Spring logo" height="70"></img>
				</div>
				<div class="col">
					<img class="d-block mx-auto mb-4" th:src="@{/images/thymeleaf.jpg}"
						alt="Thymeleaf logos" height="25"></img> <img
						class="d-block mx-auto mb-4" th:src="@{/images/bootstrap.png}"
						alt="Bootstrap logo" height="40"></img>
				</div>
			</div>

			<form th:action="@{/form}" th:object="${usuario}" method="post">

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Estado Usuario:</h6>
					</div>
					<div class="col">
						<input class="form-check-input" type="checkbox"
							th:field="*{habilitar}" th:value="${habilitar}">
						<label class="form-check-label" th:for="habilitar">Habilitar</label>
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('habilitar')}"
							th:errors="*{habilitar}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Género:</h6>
					</div>
					<div class="col">
						<div th:each="gen: ${listaGeneros}">
							<input class="form-check-input" type="radio" th:field="*{genero}"
								th:value="${gen}">
							<label class="form-check-label"
								th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
						</div>
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">País:</h6>
					</div>
					<div class="col">
						<select class="form-select" id="pais" th:field="*{pais}">
							<option value="">--- seleccionar ---</option>
							<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
								th:value="${pais.id}"></option>
						</select>
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Roles:</h6>
					</div>
					<div class="col">
						<div th:each="role: ${listaRoles}">
							<input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.id}"
								th:checked="${#lists.contains(usuario.roles, role)}">
							<label
								th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
						</div>
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
					</div>
				</div>


				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Identificador:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="text" id="identificador" th:field="*{identificador}">
					</div>
					<div class="col">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('identificador')}"
							th:errors="*{identificador}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Nombre:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="text" id="nombre" th:field="*{nombre}">
					</div>
					<div class="col">
					<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Apellido:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="text" id="apellido" th:field="*{apellido}">
					</div>
					<div class="col">
					<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}"
						th:errors="*{apellido}"></div>
				</div>
				</div>


				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Username:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="text" id="username"
							th:field="*{username}">
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Password:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="password" id="password"
							th:field="*{password}">
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
					</div>
				</div>


				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Email:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="text" id="email"
							th:field="*{email}">
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Cuenta:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="number" id="cuenta"
							th:field="*{cuenta}">
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
					</div>
				</div>



				<div class="py-2 form-group row">
					<div class="form-group-name col">
						<h6 class="mb-3">Fecha de nacimiento:</h6>
					</div>
					<div class="col">
						<input class="form-control" type="date" id="fechaNacimiento"
							th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd">
					</div>
					<div class="col">
						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('fechaNacimiento')}"
							th:errors="*{fechaNacimiento}"></div>
					</div>
				</div>

				<div class="py-2 form-group row">
					<div class="col">
					</div>
					<div class="col">
						<input type="submit" value="enviar" class="btn btn-primary">
					</div>
				</div>
				<input type="hidden" th:field="*{valorSecreto}">
			</form>
		</main>
	</div>
</body>
</html>