<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<div>
		<ul>
			<li th:text="${usuario.identificador}"></li>
			<li th:text="${usuario.pais.id} + ' - ' + ${usuario.pais.codigo} + ' - ' + ${usuario.pais.nombre}"></li>
			<li th:text="${usuario.nombre}"></li>
			<li th:text="${usuario.apellido}"></li>
			<li th:text="${usuario.username}"></li>
			<li th:text="${usuario.password}"></li>
			<li th:text="${usuario.email}"></li>
			<li th:text="${usuario.cuenta}"></li>
			<li th:text="${#dates.format(usuario.fechaNacimiento, 'YYYY-M-dd')}"></li>
			<li th:text="'Habilitado: ' + ${usuario.habilitar}"></li>
		</ul>
	</div>
	<div>Roles</div>
	<div>
		<ul>
			<li th:each="role: ${usuario.roles}" th:text="${role.id} + ':' + ${role.nombre} + ' => ' + ${role.codigo}"></li>
		</ul>
	</div>
</body>
</html>