<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="'Spring Boot MVC + Thymeleaf + Data JPA ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<meta name="theme-color" content="#7952b3" >
<style>
.bd-placeholder-img {
	font-size: 1rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.form-group-name {
	max-width: 200px;
}

.h2margin {
	margin-top: revert;
}
</style>
</head>
<body class="bg-light">
	<header th:fragment="header">
	
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: forestgreen;">
	  <div class="container-fluid">
	    <a class="navbar-brand" th:href="@{/}">Spring Boot PoC</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/listar">Clientes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Link</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	        </li>
	      </ul>

		  <ul class="navbar-nav navbar-right">
		    <li sec:authorize="!isAuthenticated()">
		      <a class="btn btn-primary btn-sm" style="background-color: rgb(63, 128, 179);" 
		        th:href="@{/login}">Sign In</a>
		  	</li>
		  
		  	<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
		  	    <a class="btn btn-primary btn-sm dropdown-toggle"
		  		  style="background-color: rgb(63, 128, 179);" href="#"
		  		  role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
		  		  th:text="${#authentication.name} + ' ' + ${#authentication.principal.authorities}">
		  		</a>

		  		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		  			<li>
		  			  <form id="logoutForm" th:action="@{/logout}" method="post">
		  				<button class="dropdown-item"
		  					onclick="document.getElementById('logoutForm').submit();"
		  					type="submit">Sign Out</button>
		  				<input type="hidden" th:name="${_csrf.parameterName}"
		  					th:value="${_csrf.token}" />
		  			  </form>
                    </li>
		  		</ul>
		  	</li>
		  
		  </ul>

		  <ul class="navbar-nav navbar-right mx-4">

		  	<li class="nav-item dropdown">
		  	    <a class="btn btn-primary btn-sm dropdown-toggle"
		  		  style="background-color: rgb(63, 128, 179);" href="#"
		  		  role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">IDIOMA
		  		</a>

		  		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		  			<li>
		  			  <!-- 
		  			  <form id="logoutForm" th:action="@{?lang=es_ES}" method="get">
		  				<button class="dropdown-item"
		  					onclick="document.getElementById('logoutForm').submit();"
		  					type="submit">EN</button>
		  				<input type="hidden" th:name="${_csrf.parameterName}"
		  					th:value="${_csrf.token}" />
		  			  </form>
		  			  -->

			  	      <a class="dropdown-item"
			  		    th:href="@{/locale(lang=es_ES)}">ES
			  		  </a>


                    </li>
		  			<li>
		  			  <!-- 
		  			  <form id="logoutForm" th:action="@{?lang=en_US}" method="get">
		  				<button class="dropdown-item"
		  					onclick="document.getElementById('logoutForm').submit();"
		  					type="submit">EN</button>
		  				<input type="hidden" th:name="${_csrf.parameterName}"
		  					th:value="${_csrf.token}" />
		  			  </form>
		  			  -->
		  			  
		  			  <a class="dropdown-item"
			  		    th:href="@{/locale(lang=en_US)}">EN
			  		  </a>
		  			  
                    </li>
		  		</ul>
		  	</li>
		  
		  </ul>



		</div>
	  </div>
	</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>

	</header>

	<footer th:fragment="footer" class="container-md">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring logo" height="30px" />
		<p>
			<small> Powered by <a
				href="https://projects.spring.io/spring-boot/">Spring Boot</a>, <a
				href="http://www.thymeleaf.org">Thymeleaf</a> and <a
				href="https://getbootstrap.com/">Bootstrap</a>.
			</small>
		</p>

		<p>
			<small>Este proyecto fue desarrollado en IDE Spring Tool
				Suite <br /> &copy; MiRolloEsElRock 2021, Ningún derecho reservado.
				Sin Términos de uso y menos privacidad.<br />
			</small>
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then popper, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>