<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<h3 th:utext="${factura.descripcion}"></h3>
		<div>
			Cliente: <span
				th:utext="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span>
		</div>
		<h4>Detalle de la factura</h4>
		<table>
			<caption>Detalle de la Factura</caption>
			<thead>
				<tr>
					<th scope="col">Producto</th>
					<th scope="col">Precio</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${factura.items}">
					<td th:text="${item.producto.nombre}"></td>
					<td th:text="${item.producto.precio}"></td>
					<td th:text="${item.cantidad}"></td>
					<td th:text="${item. calcularImporte()}"></td>
				</tr>
			</tbody>
		</table>
</body>
</html>