<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${clientedto}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${clientedto}" method="post" enctype="multipart/form-data">

					<div class="py-2 form-group row">
						<div class="form-group-name col">
							<h6 class="mb-3">Nombre:</h6>
						</div>
						<div class="col">
							<input class="form-control" type="text" id="nombre"
								th:field="*{nombre}" th:errorclass="'form-control alert-danger'">
						</div>
						<div class="col">
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="py-2 form-group row">
						<div class="form-group-name col">
							<h6 class="mb-3">Apellido:</h6>
						</div>
						<div class="col">
							<input class="form-control" type="text" id="apellido"
								th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'">
						</div>
						<div class="col">
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="py-2 form-group row">
						<div class="form-group-name col">
							<h6 class="mb-3">Email:</h6>
						</div>
						<div class="col">
							<input class="form-control" type="text" id="email"
								th:field="*{email}" th:errorclass="'form-control alert-danger'">
						</div>
						<div class="col">
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="py-2 form-group row">
						<div class="form-group-name col">
							<h6 class="mb-3">Fecha de nacimiento:</h6>
						</div>
						<div class="col">
							<input class="form-control" type="date" id="bornAt"
								th:field="*{bornAt}" placeholder="yyyy-MM-dd"
								th:errorclass="'form-control alert-danger'">
						</div>
						<div class="col">
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('bornAt')}" th:errors="*{bornAt}"></small>
						</div>
					</div>

					<div class="py-2 form-group row">
						<div class="col"></div>
						<div class="col">
							<input type="submit" value="guardar"
								class="btn btn-outline-primary btn-sm">
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>