<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>



	<div class="container-md">

	<div class="card bg-light mt-1">
			<div class="card-body">

				<form th:action="@{/buscar}" method="get"  th:object="${cl_search_crit}">

					<div class="py-1 row">
						<div class="col-3 col-md-3">
							<h6>Nombre:</h6>
							<input class="form-control" type="text" id="nombreFilter" th:field="*{nombreFilter}">
						</div>
						<div class="col-3 col-md-3">
							<h6>Apellido:</h6>
							<input class="form-control" type="text" id="apellidoFilter" th:field="*{apellidoFilter}">
						</div>
						<div class="col-3 col-md-3">
							<h6>Email:</h6>
							<input class="form-control" type="text" id="emailFilter" th:field="*{emailFilter}">
						</div>
						<div class="col-1 col-md-3">

							<div class="container">
								<div class="row align-content-end justify-content-end">
									<div class="col-3">
										<input type="submit" value="buscar"
											class="btn btn-outline-primary btn-sm">
									</div>
								</div>
							</div>

						</div>
					</div>

				</form>

			</div>
		</div>

		<div class="card bg-light mt-1">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="py-1 form-group row">
					<div class="col">
						<a class="btn btn-outline-primary btn-sm" th:href="@{/form}">crear
						cliente</a>
					</div>
				</div>

				<div class="py-1 form-group row">
					<div class="col">
						<nav th:replace="paginador-nav :: paginador"></nav>
						<table class="table table-bordered align-middle">
							<caption></caption>
							<thead>
								<tr class="align-middle">
									<th scope="col">ID</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido</th>
									<th scope="col">Email</th>
									<th scope="col">Nacimiento</th>
									<th scope="col">Creacion</th>
									<th scope="col">Editar</th>
									<th scope="col">Borrar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cl : ${clientedtolist}">
									<td>
										<a class="btn btn-outline-primary btn-sm" th:href="@{/ver/} + ${cl.id}" th:text="${cl.id}"></a>
									</td>
									<td th:text="${cl.nombre}"></td>
									<td th:text="${cl.apellido}"></td>
									<td th:text="${cl.email}"></td>
									<td th:text="${cl.bornAt}"></td>
									<td th:text="${cl.createAt}"></td>
									<td><a class="btn btn-outline-primary btn-sm"
										th:href="@{/form/} + ${cl.id}">editar</a></td>
									<td><a class="btn btn-outline-danger btn-sm"
										th:href="@{/eliminar/} + ${cl.id}"
										onclick="return confirm('¿Está seguro que quiere eliminar?');">borrar</a></td>
								</tr>
							</tbody>
						</table>
						
						<nav th:replace="paginador-nav :: paginador"></nav>
												
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>