<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

					<div class="row">
						<div class="col">

							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Identificador:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.id}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Nombre:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.nombre}"></p>
								</div>
							</div>
		
							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Apellido:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.apellido}"></p>
								</div>
							</div>
		
							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Email:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.email}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Fecha de nacimiento:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.bornAt}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col">
									<h6 class="mb-3">Fecha de creacion:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.createAt}"></p>
								</div>
							</div>
		
							<div class="py-2 row" th:if="${clientedto.foto}">
								<div class="col">
									<h6 class="mb-3">Foto:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.foto}"></p>
								</div>
							</div>

						</div>
						<div class="col">
							<div th:if="${clientedto.foto}">
							<img th:if="${#strings.length(clientedto.foto) > 0}" class="img-thumbnail rounded float-left"
								style="max-width: 25%;" th:src="@{'/uploads/' + ${clientedto.foto}}"
								th:alt="${clientedto.foto}" />
							</div>
						</div>
					</div>
			



			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>