<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

					<div class="row">
						<div class="col-8">

							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">ID:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.id}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">Nombre:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.nombre}"></p>
								</div>
							</div>
		
							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">Apellido:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.apellido}"></p>
								</div>
							</div>
		
							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">Email:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.email}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">Fecha de nacimiento:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.bornAt}"></p>
								</div>
							</div>
							
							<div class="py-2 row">
								<div class="col-3">
									<h6 class="mb-3">Fecha de creación:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.createAt}"></p>
								</div>
							</div>
		
							<div class="py-2 row" th:if="${clientedto.foto}">
								<div class="col-3">
									<h6 class="mb-3">Foto:</h6>
								</div>
								<div class="col">
									<p th:text="${clientedto.foto}"></p>
								</div>
							</div>

						</div>
						<div class="col-4">
							<div th:if="${clientedto.foto}">
							<img th:if="${#strings.length(clientedto.foto) > 0}" class="img-thumbnail rounded float-left"
								style="max-width: 100%;" th:src="@{'/uploads/' + ${clientedto.foto}}"
								th:alt="${clientedto.foto}" />
							</div>
						</div>
					</div>
			



			</div>
		</div>
	

		<div class="card bg-light mt-1">
			<div class="card-header">Listado de Facturas</div>
			<div class="card-body">

				<div th:if="${#lists.isEmpty(clientedto.facturas)}" 
				class="alert alert-info my-4" th:text="'No hay facturas asignadas en el cliente'"></div>

				<div class="py-1 form-group row">
					<div class="col">
						<a class="btn btn-outline-primary btn-sm" th:href="@{/factura/form/} + ${clientedto.id}">crear
						factura</a>
					</div>
				</div>

				<div  th:if="${not #lists.isEmpty(clientedto.facturas)}"
					class="py-1 form-group row">
					<div class="col">
						<table class="table table-bordered align-middle">
							<caption></caption>
							<thead>
								<tr class="align-middle">
									<th scope="col">ID</th>
									<th scope="col">Descripcion</th>
									<th scope="col">Observacion</th>
									<th scope="col">Fecha</th>
									<th scope="col">Total</th>
									<th scope="col">Editar</th>
									<th scope="col">Borrar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="factura : ${clientedto.facturas}">
									<td>
										<a class="btn btn-outline-primary btn-sm" th:href="@{/ver/todo_ver_factura} + ${factura.id}" th:text="${factura.id}"></a>
									</td>
									<td th:text="${factura.descripcion}"></td>
									<td th:text="${factura.observacion}"></td>
									<td th:text="${factura.createAt}"></td>
									<td th:text="${factura.total}"></td>
									<td><a class="btn btn-outline-primary btn-sm"
										th:href="@{/form/todo_editar_factura} + ${factura.id}">editar</a></td>
									<td><a class="btn btn-outline-danger btn-sm"
										th:href="@{/eliminar/todo_eliminar_factura} + ${factura.id}"
										onclick="return confirm('¿Está seguro que quiere eliminar?');">borrar</a></td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>